@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,body {
  scroll-behavior: smooth;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  width: 70%;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 425px) and (max-width: 768px ){
  .wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  
}



.sidebar {
  background: linear-gradient(180deg, #0f212e 0%, #071824 100%);
}

img{
  transition: .2s;
}